body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.item {
  flex: 1;
  margin: 5px;
  display: inline-flex;
  color: white;
  font-size: 15px;
}